others_code/
latex/
*.pyc
__pycache__/
tests/__pycache__/
.coverage*
htmlcov/
.cache/
*.swp
notebooks/
prof/
pyndl.tar.gz
pyndl/tests/binary_resources/
.venv/
.#*
.eggs/
build/
dist/
*.so
pyndl.egg-info/
.tox/
doc/data/levent.tab
doc/data/levent.tab.filtered
doc/data/weights.nc

# copybutton js script
doc/source/_static/copybutton.js
