others_code/
pyndl/ndl_parallel.c
pyndl/ndl_openmp.c
pyndl/corr_parallel.c
pyndl/wh_parallel.c
pyndl/correlation_openmp.c
latex/
*.pyc
__pycache__/
tests/__pycache__/
.coverage*
htmlcov/
.cache/
*.swp
notebooks/
prof/
pyndl.tar.gz
pyndl/tests/binary_resources/
.venv/
.#*
.eggs/
build/
dist/
*.so
pyndl.egg-info/
.tox/
docs/data/levent.tab
docs/data/levent.tab.filtered
docs/data/weights.nc

# copybutton js script
copybutton.js

# pypoetry
poetry.lock
