others_code/
latex/
*.pyc
__pycache__/
tests/__pycache__/
.coverage*
htmlcov/
.cache/
*.swp
ndl_c.c
notebooks/
prof/
pyndl.tar.gz
pyndl/tests/binary_resources/
.venv/
.#*
.eggs/
build/
dist/
*.so
pyndl.egg-info/
*.c
.tox/
examples/levent.tab
examples/levent.tab.filtered
examples/weights_1.nc
