include MANIFEST.in
include README.rst
include LICENSE.txt
include requirements.txt
graft pyndl
graft doc
graft tests
global-exclude __pycache__
global-exclude *.py[co]
prune doc/build
prune tests/temp
